body{
    padding: 0;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}
.calculatorFrame{
    background-color: grey;
    width: 350px;
    height: 600px;
    padding: 25px;
    
    
}

.screen{
    height: 150px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    
    
}

.screen{
    background-color: lightcoral;
    }

.buttons{
    height: 430px;
    display: grid;
    grid-template-columns: 87.5px 87.5px 87.5px 87.5px;
    grid-template-rows: 86px 86px 86px 86px 86px;
    
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.zero{
    grid-column: span 2;
    background-color: aqua;
}

.equal{
    grid-row: span 2;
}
button.equal{
    grid-row:  ;
    grid-column: auto;
    background-color: blueviolet;
}




