@font-face {
    font-family: 'EthnocentricRg-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('EthnocentricRg-Regular'), url('ethnocentric rg.woff') format('woff');
}

button, .screen{
    font-family: 'EthnocentricRg-Regular';
}

body{
    padding: 0;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calculatorFrame{
    background-color: #576D62;
    width: 350px;
    height: auto;
    padding: 25px;
    border-radius: 20px;    
}

.screen{
    height: 120px;
    background-color: #dad7cd;
    border-radius: 10px;
    font-size: 30px;
    position: relative;
}

.screenContent{
    position: absolute;
    bottom: 0;
    right: 0;   
    padding: 5px;     
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
       
}

.buttons{
    height: 430px;
    display: grid;
    grid-template-columns: 87.5px 87.5px 87.5px 87.5px;
    grid-template-rows: 86px 86px 86px 86px 86px;    
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition-duration: 0.4s;
    background-color: #dad7cd;
    color: #344E41;
    border: none;
    margin: 3px;
    cursor:pointer;
}

button:hover{
    background-color: #344E41;
    color: #DAD7CD;
}

button:active{
    background-color: #7e9971;
    box-shadow: 0 5px #666;
}

.zero{
    grid-column: span 2;
    background-color: #8fa480
}

.equal{
    grid-row: span 2;
    background-color: #7E9971;
}